.image_gallery_container {
  display: grid;
  width: 980px;
  height: auto;
  margin: 50px auto;
  justify-content: center;
  background-color: #fff;
  padding: 25px 40px;
  border-radius: 15px;
}



